
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(218, 169, 219);

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caixa {
    align-items: center;
  
  background-color: rgb(167, 47, 157);
  border: 1px solid rgb(197, 77, 197);
  padding: 10px; /* Espaço interno */
  
}
.navbar-brand{
    color: rgb(181, 43, 223);

}
.navbar-brand.houver{
    color: rgb(105, 60, 148);
}
#formacao{
    color: rgb(181, 43, 223);
}
#formacao.houver{
    color:  rgb(181, 43, 223);
}
#contato{
    color:  rgb(181, 43, 223);
}
#contato.houver{
    color:  rgb(181, 43, 223);
}
#redes{
    color:  rgb(181, 43, 223);
}
#redes.houver{
    color:  rgb(181, 43, 223);
}
footer{
    color: rgb(139, 14, 106);
    font-size: xx-small;
    margin: 2px;
}
   .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b8719a8c; /* Cor de fundo */
      padding: 15px; 
      width: 300px;
      margin: 0 auto; /* Centraliza horizontalmente */
      border-radius: 10px; /* Bordas arredondadas (opcional) */
    }
     img {
      max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
      height: auto; /* Mantém a proporção da imagem */
    }
    .centralizado {
    text-align: center;
  }
  p{
    line-height: 0em;
  }
  .texto-estilizado{
    text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     color: rgb(134, 66, 135);
    }
    .texto-est{
        text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     color: rgb(134, 66, 135);
    }