h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(218, 169, 219);

}





h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caixa {
    align-items: center;
  
  background-color: rgb(167, 47, 157);
  border: 1px solid rgb(197, 77, 197);
  padding: 10px; /* Espaço interno */
  
}
.navbar-brand{
    color: rgb(181, 43, 223);

}
.navbar-brand.houver{
    color: rgb(105, 60, 148);
}
    